@media screen and (max-width:1280px){
		.banner_cont{
			top:27% !important;
		}
		
	}
	
	
@media (max-width: 1200px) {

.sliderform_base{
position:relative;
float:left;
margin-bottom:10px;
}
}

@media (max-width: 768px) {

.navbar-nav{
float:none;
}
}

@media screen and (min-width:980px) and (max-width:1060px) {
	.banner_cont{
		top:20% !important;
	}
}


@media screen and (max-width:1024px){
		.banner_cont{
			top:25% !important;
		}
	}
	
@media screen and (max-width:980px){
		.banner_cont{
			top:14% !important;
		}
	}

@media screen and (max-width:640px){
	.container-top{
		padding:5px 0px 0px 0px;
	}
	.nbs-flexisel-nav-right{
		right:-5px !important;
	}
	.nbs-flexisel-nav-left{
		left:-5px !important;
	}
}

@media screen and (min-width:320px) and (max-width:480px) {

.top_wide h3{font-size:25px; margin:0 4%;}
.base h3{font-size:25px; line-height:30px;}
.light h2{font-size:25px;  }
.content{ padding:0 0 10% 0;}
.socialmedia h2{font-size:28px;}
footer{ padding:12% 0 5% 0;}
footer h3{ margin:5% 0 0 0;}
.bannertext { width:100%; margin:0;  }
div.bannertext h3{margin:8% 0 0 0;  font-size:36px; font-weight:400;}
ul.social_icon{margin:4% 0 4% 0%;}
.banner_sub{ display:block;}

.banner_device{ display:none; background-color:#a2ced5; padding:22% 0 0 0; }
.know_more{margin:10px 0 20px 0}
span.phone_no{
font-size:14px;
background:url(../images/flag.gif) no-repeat 0 9px;
line-height:25px;
}
.container-top .col-lg-4{
padding-top:3px;
}
ul.social_icon li{
margin-bottom:10px;
}
.box_link{
	padding:15px 30px;
	border: 3px solid #fff;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
}

.box_link:hover{
	padding:15px 30px;
	border: 3px solid #eee;
	color: #eee;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
}
.plan_bg01{
height:188px;
}
.pt_100{
padding-top:88px;
}
.light h2{
line-height:30px;
}
.iconhead img{
width:15%;
}
.pricing-table .plan.col-xs-5{
width:100%;
} 
.btn-circle_green, .btn-circle_blue, .btn-circle_cyan{
width:125px;
height:125px;
}
.conditions p br{
display:none;
}
.home_cont_wrap h2{
font-size:22px;
font-weight:600;
}
footer ul.our_location li{
float:left;
}
div.login_wrapper .btn{
width:40%;
}
.testimonials{
min-height:0px;
padding:6% 7% 3.5% 65px;
font-size:16px; 
line-height:24px;
background:#3ea9f5;
background-image:url(../images/quo.png);
background-repeat:no-repeat;
background-position:3% 7%;
}

.affiliate_wrapper .form-control{
	width:100%;
}

.affiliate_wrapper label {
	width:85%;
}

}
@media screen and (min-width:320px) and (max-width:360px) {

.navbar-fixed-top{
top:48px;
}
body div.register_wrapper .btn{
width:100%;
}

div.banner_cont h4{
font-size:17px;
line-height:20px;
line-height:18px;
margin-bottom:12px;
}

html div.banner_cont{
margin-top:-129px;
}
a.read_more{
padding:3px 12px;
}

.plan_bg h2 span{
font-size:16px;
}
.plan_bg h2{
margin-top:25px;
margin-bottom:20px;
}

.wht_box{
line-height:35px;
font-size:24px;
padding:20px;

}

.base h3{
font-size:20px;
font-weight:600;
line-height:24px;
margin-bottom:
}

.callback_form .btn {
    text-transform: uppercase;
    width: 40%;
}


}

@media screen and (min-width:360px) and (max-width:480px) {

body .banner_cont{
margin-top:-119px;
}

.banner_cont h4{
margin-bottom:10px;
}
.know_more{
margin-top:0px;
}

.affiliate_wrapper .form-control{
	width:100%;
}
.affiliate_wrapper label {
	width:85%;
}

}

@media screen and (min-width:320px) and (max-width:400px) {
.banner_cont h1{
display:none;
}
html .banner_cont{
margin-top:-100px;
}
.base h3{
width:100%;
}

}

@media screen and (min-width:480px) and (max-width:640px) {

body .banner_cont{
margin-top:-185px;
}

div.banner_cont h4{
margin-bottom:20px;
font-size:17px;
line-height:26px;
}
.read_more{
padding:7px 10px;
}
.know_more{
margin-top:20px;
margin-bottom:20px;
}
.iconhead img{
width:12%;
}
.box_link{
font-size:30px;
}
.box_link:hover{
font-size:30px;
}

}

@media screen and (min-width:320px) and (max-width:767px){
.navbar-toggle{ background-color:#3ea9f5; border:none; margin:30px 2% 20px 0;}
.menu_wrap{ width:100%; padding:3.2% 0 0 0;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{ border:none;}
nav ul li{ background-color:#e7e7e7; border-bottom:#FFFFFF 1px solid;}
nav ul li:hover{ background-color:#f1f1f1;}
.navbar-collapse{ padding-right:0;}
.navbar-nav{ margin-right:0;}
#navbar{ background-color:#FFFFFF; }
.container-top ul li{padding:0 5px;}
.phone_no{ line-height:32px;}
.navbar-fixed-top{ top:60px;}
.btn-primary{ margin:0 0 2% 0;}
.mt{margin:0!important;}
.client_logo li {
    display: inline;
    float: left;
    margin-right: 30px;
    min-height: 150px;
    width: 100%;
}
.plan_bg h2{margin-top:35px;}
.navbar-brand{width:60%; margin-top:10px;}
.pricing-three-column{
width:100%;
margin:0px auto;
}
.plan {
margin: 0 15px;

}
span.phone_no{
font-size:14px;
background:url(../images/flag.gif) no-repeat 0 9px;
line-height:25px;
}
ul.social_icon{
margin:0px;
}
div.light h2{
font-size:25px;
line-height:32px;
}
.xs-mid{
text-align:center;
}
.port a img{
width:100%;
}
.form-group, .expiration_wrap{
width:100%;
margin-right:0px;
margin-bottom:10px;
}
.capcha_wrap{
width:auto;
margin-right:0px;
margin-bottom:10px;
}
.expire_01{
width:40%;
}
.capcha{
width:50%;
}

.contact_wrapper, .address_wrap{
width:100%;
}
.address_wrap{
border-left:none;
border-top:1px solid #dfdfdf;
padding-top:5%;
padding-left:1%;
min-height:0;
margin-bottom:5%;
}
.contact_wrapper .capcha{
width:auto;
}
.contact_wrapper{
margin-bottom:8%;
}
footer ul li{
float:none;
}
.iconhead h3{
margin-top:30px;
}
.iconhead img{
margin-top:-13px;
}
.real_estate .iconhead img{
margin-top:-10px;
margin-right:5%;
}
div.light h2{
margin:0 4%;
}
div.light h2 br{
display:none;
}
div.register_wrapper .btn{
width:40%;
}
.bannertext span{display:none;}
.bannertext {
margin-top:260px;
font-size:36px;
}

}

@media screen and (min-width:640px) and (max-width:767px) {

html div.banner_cont {
    margin-bottom: 20px;
    margin-top: -200px;
}
div.banner_cont h1{
font-size:36px;
}

html div.banner_cont h4 {
    font-size: 24px;
    line-height: 20px;
	line-height:30px;
}
html a.read_more{
padding:10px 15px;
}
.know_more{
margin-bottom:30px;
margin-top:20px;
}
.home_cont_wrap h2{
margin-top:20px;
margin-bottom:10px;
padding:0px;
}
.home_cont_wrap .plan_bg h2{
margin-top:50px;
margin-bottom:40px;
padding:0px;
}
}

@media screen and (min-width:480px) and (max-width:767px) {
.banner_sub{ display:block;}
.banner_device{ display:none;  }
div.home_cont_wrap{
margin-top:75px;
}
footer span{
width:5%;
}
footer ul li{
width:95%;
}
div.container-top {
    background: none repeat scroll 0 0 #babdcd;
    margin-top: 0;
    min-height: 42px;
  /*  padding-top: 11px;*/
}
.iconhead h3{
width:100%;
}
.base h3{
font-size:30px;
line-height:36px;
}
.testimonials{
min-height:0px;
padding:6% 7% 3.5% 65px;
}
 
}
@media screen and (min-width:768px) and (max-width:979px) {
body .home_cont_wrap {
    margin-top: 80px;
    position: relative;
}
 .menu_wrap{
 width:61%;
 padding-top:14px;
 }
.navbar-inverse .navbar-nav > li > a{
padding:10px;
} 
.menu_wrap .btn-primary{
padding:5px 15px;
}
 body div.banner_cont {
    left: 0;
    margin-top: 255px;
    position: relative;
    right: 0;
    top: 0;
}
*:before, *:after {
    box-sizing: border-box;
}
.mobile_bg {
    position: relative;
}

.banner_cont h1{
font-size:50px;
}

.banner_cont h4{
font-size:28px;
line-height:30px;
margin-bottom:33px;
}
.home_cont_wrap{
margin-top:550px;
}
 body .mobile_bg {
    left: 0;
    margin-top: 132px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -999;
}
.container-top {
    background:#babdcd;
    margin-top: 0;
	padding:12px 0;
}
.client_logo li{
width:auto;
float:left;
margin-right:45px;
margin-bottom:50px;
}
.know_more{
margin-bottom:50px;
}
.pricing-three-column{
margin-left:0px;
}
.pricing-table .plan{
background:#f1f1f1;
}
div.pricing-table .plan{
margin:0 20px 20px 20px;
}

.iconhead h3{
margin-top:20px;
}
.no-padding{
padding:0px;
width:auto;
}
.plan_btm_cont .col-lg-6.text-right{
text-align:center;
margin-top:20px;

}
.bannertext {
    margin: 48% 0 0 16%;
}
.iconhead h3{
display:inline-table;	
margin-bottom:5px;
}
.iconhead_pad{
margin-bottom:20px;
}
.iconhead h3 br{
display:none;
}
.iconhead img{

margin-right:4%;
}
.blogface h3{
font-size:21px;
line-height:26px;
}
.expire_01{
width:40%;
}
.capcha{
width:42%;
}
.port span{
width:44%;
float:left;
margin:3%;
}
.navbar-nav > li.lst_rgt a{
padding:0 0 0 10px;
}
}

@media (max-width: 767px) {
.top_wide_mar .btn-circle_blue{
margin:0px auto;
padding-top:32px;
}

.border-right{
border-bottom:#ccc 1px solid;
margin:20px 0;
padding-bottom:30px;
}
.panel-heading{
padding:0px 0px;
}
.container-top{
background:#babdcd;
margin-top:0px;
min-height:40px;
}
.mobile_bg{
left: 0;
    margin-top: 15px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -999;
	margin-top:132px;
}
.panel-title > a{
padding:15px 15px;
display:block;
line-height:20px;
}
.panel-title > a:hover{
text-decoration:none;
background:#fff;
}
.panel-title > a:focus{
text-decoration:none;
}
.navbar-inverse{
height:auto;
}
.read_more{
padding:5px 6px;
font-size:12px;
}
.banner_cont h1{
font-size:25px;
}
.banner_cont{
margin-top:245px;
position:relative;
}
.banner_cont h4{
font-size:16px;
line-height:20px;
}
.home_cont_wrap{
position:relative;
margin-top:34px;
}
.iconhead br{
display:none;
}
.conditions p{
font-size:13px;
}
.content{
font-size:15px;
padding-bottom:5%;
padding-top:2%;
}

.pricing-table .plan{
background:#f1f1f1;
padding:30px 0 15px;
margin-bottom:15px;

}

.btn-circle_green, .btn-circle_blue, .btn-circle_cyan{

width:100px;
height:100px;
font-size:30px;

}

.pricing-table h3{
font-size:18px;
margin-top:15px;
}

.pricing-table h3 span {
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
}

.login_wrapper{
width:100%;
margin-right:0px;
margin-bottom:5%;
}
.register_wrapper{
width:100%;
text-align:center;
padding:25px 0 0 0;
margin-bottom:5%;
border-top:#ccc 1px solid;
border-left:none;
}
.register_wrapper .btn{
width:100%;
}
.white_wide{
padding-left:2%;
padding-right:2%;
}
.sub{
margin-top:10%;
}
.content{
padding:0 0 2% 0;
margin-bottom:0;
}
.login_password{
width:100%;
float:left;
}
.login_wrapper .btn{
width:20%;
float:left;
margin-top:2%;
}
.iconhead_pad{
margin-top:5%;
}
.testimonials_pad{
margin:0;
}

}

@media (max-width: 979px) {
.mobile_bg{
  position:relative;
}
.banner_cont{
margin-top:-50px;
margin-bottom:20px;
}
.navbar-fixed-top{
top:48px;
}
div.plansec h2 br{

display:none;

}
.base .base_content_top{
padding-bottom:2%;
}
.top_wide, .wide_blue{
margin-top:0%;
}
.light h2{
font-size:30px;
line-height:36px;
}
.white_pad{
padding:0px;
}
.whitecontent_pad{
padding:0px;
}
.blogsub h3{
margin-top:25px;
}
div.sub{
margin-top:30px;
}
.base h3{

padding:0;
margin-bottom:1%;
}
div.login_wrapper h3{

padding:0;
margin-bottom:8%;
font-size:30px;
}
.testbg {
    background: none repeat scroll 0 0 #f7f8f8;
    height: auto;
    overflow: hidden;
}
}

@media (min-width: 768px) {


ul.social_icon{
margin:0px;
}
}

@media screen and (min-width:980px) and (max-width:1000px) {

div.container{
width:980px;
}

}
@media screen and (min-width:980px) and (max-width:1200px) {
body footer .our_location span{
width:11%;
}
body footer ul li{
width:87%;
}
 .menu_wrap{
 width:70%;
 }
.navbar-inverse .navbar-nav > li > a{
padding:10px;
} 
.menu_wrap .btn-primary{
padding:5px 15px;
}
.know_more{
margin-top:20px;
margin-bottom:25px;
}
.client_logo li{
margin-right:20px;
width:auto;
}
.home_cont_wrap{
margin-top:0;
}
.banner_cont{
margin-top:0;
}

.banner_cont h1{
font-size:70px;
}
.banner_cont h4{
font-size:30px;
line-height:42px;
}
.mt{
margin-top:5px;
}
footer span{
width:5%;
padding:0;
}
footer ul li{
width:95%;
}
.iconhead h3{
padding-bottom:10px;
}
.content{
margin-top:20px;
margin-bottom:20px;
padding:0px;
}
.iconhead img{
margin-right:4%;
}
.plan_btm_cont .col-lg-6.text-right{
text-align:center;
margin-top:20px;

}
.bannertext {
    margin: 40% 0 0 16%;
}
.pricing-three-column{
margin-left:0px;
}
.no-padding{
width:auto;
padding:0px;
}
.blogface h3{
font-size:28px;
}
.port span{
width:46%;
margin:2%;
float:left;
text-align:center;
}

}



