




/*--------------------------------------------------------------
7.0 Portfolio
--------------------------------------------------------------*/

#portfolio-items{
margin:50px 0 50px 0;
}
.filters{
margin:50px 0;
}

.img-centered {
    margin: 0 auto;
}

.portfolio-header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
}

.portfolio-header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

.portfolio-header img {
    display: block;
    margin: 0 auto 20px;
	border-radius: 50%;
}

.portfolio-header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.portfolio-header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

#portfolio .filters ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

#portfolio .filters li {
	display: block;
	margin-right: 5px;
	border: 1px solid #ebebeb;
	 font-family: "Source Sans Pro",sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	margin-bottom: 5px;
	display:inline;
}

#portfolio .filters li.active {
	border-color: #b0babf;
	background-color: #b0babf;
	color: #fff;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item h3 {
	text-align: center;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background:#000;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: .5;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

.portfolio-modal .modal-content {
    padding: 20px 0 30px;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
	
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    font-size: 20px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio .entry-content strong,
.portfolio-modal .modal-content .item-details strong{
	color: #18bc9c;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.caption-content p{
font-size:14px;
margin-top:20px;
text-transform:uppercase;
font-weight:bold;
}
