@font-face{font-family:'myriad_applemedium';src:url('myriadam-webfont.eot');src:url('myriadam-webfont.eot?#iefix') format('embedded-opentype'),
url('myriadam-webfont.woff2') format('woff2'),
url('myriadam-webfont.woff') format('woff'),
url('myriadam-webfont.ttf') format('truetype'),
url('myriadam-webfont.svg#myriad_applemedium') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'myriad_set_pro';src:url('myriadat-webfont.eot?#iefix') format('embedded-opentype'),
url('myriadat-webfont.woff2') format('woff2'),
url('myriad-set-pro_thin.woff') format('woff'),
url('myriadat-webfont.ttf') format('truetype'),
url('myriadat-webfont.svg#myriad_appletext') format('svg');font-weight:normal;font-style:normal;}